.App {
  position: relative;
  left:150px;
  font-family: cursive;
  font-size:18px;
}
a {
  text-decoration: none;
}
.Alert{
  color:red;
  position: relative;
  top:0px;
  left:100px;
}

a:hover {
  color:green;
}
a:active{
  color:rgb(44, 27, 75);
}
.InputField1{
  position: relative;
  left:100px;
  width: 250px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}
.InputField3{
  position: relative;
  left:10px;
  width: 100px;
  background: #fff;
  color: #7a7878;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 12px 8px;
  font-size: 13px;
}
.InputField2{
  position: relative;
  left:100px;
  width:250px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}
.RegAnchor{
  position:relative; 
  left:180px;
  top:40px;
}
.Anchor{
  color:rgb(44, 27, 75);
  position: relative;
  top:70px;
  left:130px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
label {
  color:rgb(44, 27, 75);
  text-align: center;
  margin: 77px 80px;
}
.button {
    background-color: rgb(62, 138, 173);
    border: none;
    color: white;
    padding: 7px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top : 10px;
    left:210px;
    display: inline-block;
    position: relative;
}
.signIn{
  background-color: rgb(44, 27, 75);
  border: none;
  color: white;
  padding: 7px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  top :10px;
  left:190px;
  display:inline-block;
  position: relative;
}
.container{
  position: relative;
  top:100px;
  left:320px;
}
.Contacts{
  position: relative;
  top:10px;
  left:138px;
  
  height:400px;
  width:15%;
}

.Newmsg{
  position: relative;
  top:-380px;
  left:150px;
 
  height:30px;
  width:734px;
}
.NewMsgText{
  position: relative;
  left:100px;
  width:250px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;

}
.header{
  position: relative;
  top:50px;
  left:609px;
  color:rgb(62, 138, 173);
}
.AddButton
{
  position: relative;
  left:24px;
  top:11px;
  cursor: pointer;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.link{
  text-decoration:none;
  color: white;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.logoutButton{
position: relative;
left:950px;
top:-800px;
color: rgb(247, 57, 57);
cursor: pointer;
}
.HomeContainer{
  position: relative;
  left:500px;
  top:15px;
}
.EnterMsgField{

  position: relative;
  left:250px;
  width: 400px;
  background:rgb(226, 211, 211);
  color: #555353;
  font: inherit;
  box-shadow: 0 16px 30px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 6px 12px;
  font-size: 20px;
}
.sendButton{
  position: relative;
  left:270px;
  cursor: pointer;
  top:8px;
}
.fileUpload{
  position: relative;
  left:270px;
  cursor: pointer;
  top:8px;
  font-size: 10px;
}

.ContactTitle{
  position: relative;
  left:35px;
  font-family:cursive;
  top:-2px;
}
.sentMsg{
  position: relative;
  left:790px;
  top:-620px; 
 
}

.rcvMsg{
   position: relative;
  top:-780px;
 left:360px;

}
* {
  margin:0;
  padding:0;
  font-family:Tahoma, sans-serif;
  box-sizing: border-box;
}
body{
  
}
.chatbox{
  position: relative;
  top:-392px;
  left:-50px;
  width:500px;
  min-width:390px;
  height: 400px;
  background: #fff;
  padding: 25px;
  margin:20px auto;
  box-shadow: 0 3px #ccc;
  overflow-x:hidden;
  overflow-y: auto;
  border: 1px solid black;
  
}
.chatlogs{
   padding: 10px;
   width: 100%;
   height: 450px;
   
   
}
.chat{
   display: flex;
   flex-flow: row wrap;
   align-items: flex-start;
   margin-bottom: 10px;
}
.chat .user-photo{
   width: 60px;
   height: 60px;
   background: #ccc;
   border-radius: 50%;
   font-family: cursive;
   overflow: hidden;
 
}
.chat .user-photo{

}
.chat .chat-message{
   width:80%;
   padding: 15px;
   margin:5px 10px 0;
   color: #741515;
   border-radius: 10px;
   
   font-size: 18px;
  }
.friend .chat-message{
  background: #23b98c;
}
.self .chat-message {
  background: #1ddced;
  order:-1;
  text-align:right;
  overflow-y: auto;
}
.reciever-chat-time{
  font-size: 10px;
  position: relative;
  left:360px;
  top:-21px;
}
.sender-chat-time{
  font-size: 10px;
  position: relative;
  left:20px;
  top:-18px;
}
.adjust-tick{
  position: relative;
  top:-18px;
  left:22px;
  font-size:16px;
}
.success{
  color: #4F8A10;
  background-color: #DFF2BF;
  position: relative;
  top:20px;
  width:100px;
  font-family: 'Times New Roman', Times, serif;
  
}
.deleteButton{
  position: relative;
  left:950px;
  top:-430px;
  color: rgb(247, 57, 57);
  cursor: pointer;
  }