.App {
  position: relative;
  left:240px;
}
a {
  text-decoration: none;
}
.Alert{
  color:red;

}
a:hover {
  color:green;
}
a:active{
  color:rgb(44, 27, 75);
}
.InputField1{
  position: relative;
  left:100px;
  width: 250px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;



  
}
.InputField2{
  position: relative;
  left:100px;
  width:250px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}
.RegAnchor{
  position:relative; 
  left:190px;
  top:50px;
}
.Anchor{
  color:rgb(44, 27, 75);
  position: relative;
  top:60px;
  left:160px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
label {
  color:rgb(44, 27, 75);
  text-align: center;
  margin: 77px 80px;
}

.button {
    background-color: rgb(62, 138, 173);
    border: none;
    color: white;
    padding: 7px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    top : 10px;
    left:240px;
    display: inline-block;
    position: relative;

}
.signIn{
  background-color: rgb(44, 27, 75);
  border: none;
  color: white;
  padding: 7px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  top :10px;
  left:190px;
  display:inline-block;
  position: relative;
}
.container{
  position: relative;
  top:100px;
  left:400px;

}
.header{
  position: relative;
  top:100px;
  left:600px;
  color:rgb(62, 138, 173);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.link{
  text-decoration:none;
  color: white;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
